mat-toolbar ul li a {
  text-decoration: none;
  color: white;
}
mat-toolbar ul li a:hover {
  color: rgb(180, 180, 180);
}
.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
mat-toolbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#site-name {
  text-decoration: none;
  color: white;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 5px;
}
#user-name {
  color: aqua;
  padding-right: 10px;
}
@media(max-width: 959px){
  mat-toolbar{
    border-radius: 0px;
  }
}
