.container {
   /* display: flex;*/
    background-image: url("https://i.pinimg.com/originals/d3/48/4c/d3484c05352dae4839dcdbe3b1b7ee45.jpg");
    background-size: cover;
    /*justify-content: center;*/
    padding: 5%;
    height: 100%;
}
.form {
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    width: 100%;
}
.card {
    width: 30%;
}
.card-header {
    background: #d9ffba;
}
.card-title {
    display: flex;
    justify-content: center;
    padding-top: 4%;
}
.card-title-icon {
    color: #4147ff;
}
.item {
    display: flex;
    flex-direction: column;
}
.submit-button {
    display: flex;
    justify-content: flex-end;
}
.alert-msg {
    color: #ff0000;
    font-size: 95%;
}