table {
    width: 75%;
}

.mat-form-field {
    font-size: 14px;
}
:host /deep/ .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
}
td, th {
    width: 25%;
}
.container {
    background: linear-gradient(45deg, rgb(228, 240, 121), rgb(142, 226, 93));
}
.content {
    margin: 15px 30px;
    padding: 10px;
    background-color: seashell;
}