.post-main-div {
    border-top: 2px solid #49aa3c;
    background: linear-gradient(45deg, rgb(228, 240, 121), rgb(142, 226, 93));
}
.search-button {
    margin-left: 20px;
    background: none;
    border-radius: 100%;
}
.search-button i {
    font-size: 40px;
    font-weight: 700;
}
.search-button:hover {
    background: rgb(0, 0, 0, 0.2);
    transition: all 0.3s ease-out;
}
.search-form {
    font-size: 14px;
    padding: 20px 0;
}
.search-form input {
    font-size: 20px;
}
.view-mode i {
    color: rgb(52, 207, 86);
    font-size: 35px;
}
.view-mode i:hover {
    cursor: pointer;
    color: #27aa3d;
    transition: all 0.3s ease-out;
}
.view-mode .active-view {
    color: #1c7a0f;
}
.list {
    width: 100%;
    padding: 5px 8px;
}
.grid {
    width: 31%;
    padding: 5px 8px;
}
.card-deck-container {
    position: relative;
    border-radius: 2px;
}
.card-container {
    padding: 5px 8px;
}
.card-item {
    background: url("../../img/wood.jpg") center no-repeat;
    background-size: cover;
    border: 1px solid #aa853c;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
    position: relative;
    height: 400px;
    word-wrap: break-word;
}
.card-item mat-card-content {
    height: 300px;
    overflow-y: auto;
}
.card-item mat-card-actions {
    position: absolute;
    bottom: 10px;
    right: 16px;
}
.card-item mat-card-actions button:hover {
    background: #af9f1457;
    color: white;
}
mat-paginator {
    background: none;
}
/* .mat-table {
    overflow: auto;
    max-height: 500px;
} */
