<div class="global-container">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">
    
        <div class="container">
            <mat-form-field class="search-form">
                <input matInput placeholder="Search" type="text">
            </mat-form-field>
            <button class="search-button" button="submit" mat-raised-button color="primary">Search</button>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="left" class="card-deck-container" *ngIf="page.content?.length">
            <div fxFlex="33%" *ngFor="let post of page.content" class="card-container">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title class="mat-card-title">{{post.title}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="card-text-content" [innerHTML]="post.description">
                        </div>
                    </mat-card-content>
    
                    <mat-card-actions fxLayout="row" fxLayoutAlign="end">
                        <button mat-button>Read more</button>
                        <button title="Wish to go there" mat-icon-button color="primary">
                            <mat-icon>flight_takeoff</mat-icon>
                        </button>
                        <button title="Have visited this place" mat-icon-button color="primary">
                            <mat-icon>check</mat-icon>
                        </button>
                    </mat-card-actions>
    
                </mat-card>
            </div>
        </div> <!--card-deck-container -->
        <div fxLayout="row" class="container" fxLayoutAlign="center" *ngIf="page.content?.length">
            <mat-paginator
                    [length]="page.totalElements"
                    [pageSize]="page.pageSize"
                    [pageSizeOptions]="[5, 12, 24]"
                    (page)="updatePage($event)">
            </mat-paginator>
        </div>    
    </div>
</div>