<div class="container" fxLayout="column">

        <div fxLayout fxLayout.xs="column" fxLayoutAlign="center">
            <div class="search" fxFlex="80%" fxLayoutGap="25px">

                <!-- Search by sight -->
                <mat-form-field>
                    <input type="text" placeholder="{{'SEARCH.SIGHT' | translate}}"
                           matInput [formControl]="sightSearchControl"
                           [matAutocomplete]="autoSight">
                    <mat-autocomplete #autoSight="matAutocomplete">
                        <mat-option *ngIf="isFilterDataLoading" class="is-loading">Loading...</mat-option>
                        <ng-container *ngIf="!isFilterDataLoading">
                            <mat-option *ngFor="let sight of filteredSights" [value]="sight.label">
                                <span><b>{{sight.label}}</b></span> |
                                <small>Visited {{sight.sightVisitsCounter.counter}} times</small>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>

                <!-- Search by author -->
                <mat-form-field>
                    <input type="text" placeholder="{{'SEARCH.AUTHOR' | translate}}"
                           matInput [formControl]="authorSearchControl"
                           [matAutocomplete]="autoAuthor">
                    <mat-autocomplete #autoAuthor="matAutocomplete">
                        <mat-option *ngIf="isFilterDataLoading" class="is-loading">Loading...</mat-option>
                        <ng-container *ngIf="!isFilterDataLoading">
                            <mat-option *ngFor="let author of filteredAuthors" [value]="author.username">
                                <span><b>{{author.username}}</b></span>
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>

                <!-- Sort -->
                <mat-form-field>
                    <mat-select [(value)]="selectedSort">
                        <mat-option value="none">{{'SORT.NOT_SELECTED' | translate}}</mat-option>
                        <mat-option value="oldest">{{'SORT.OLDEST' | translate}}</mat-option>
                        <mat-option value="newest">{{'SORT.NEWEST' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>



                <button button="submit" mat-raised-button (click)="searchPosts()">
                    <fa-icon [icon]="['fas', 'search']" size="lg"></fa-icon>
                </button>
                <button button="submit" mat-raised-button (click)="resetSearch()">
                    <fa-icon [icon]="['fas', 'window-close']" size="lg"></fa-icon>
                </button>
                <button class="create-post-btn" title="Create new post" mat-raised-button routerLink="/save-post" *ngIf="currentUser">
                    <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                </button>
            </div>

            <div class="view-mode" fxLayoutAlign="end center" fxLayoutGap="15px">
                <i (click)="changeViewMode(viewModeEnum.List)"
                   [ngClass]="{'active-view' : currentView == viewModeEnum.List}">
                    <fa-icon [icon]="['fas', 'th-list']"></fa-icon>
                </i>
                <i (click)="changeViewMode(viewModeEnum.Grid)"
                   [ngClass]="{'active-view' : currentView == viewModeEnum.Grid}">
                    <fa-icon [icon]="['fas', 'th']"></fa-icon>
                </i>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="center" class="card-deck-container" *ngIf="posts?.length">
            <div *ngFor="let post of posts" class="card-container" [ngClass]="currentView">
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title class="mat-card-title">{{post.title}}</mat-card-title>
                        <mat-card-subtitle fxLayout="column">
                            <div fxLayoutGap="5px">
                                <fa-icon [icon]="['fas', 'hiking']"></fa-icon>
                                <span>{{post.author.username}}</span>
                                <span class="dot-divider"></span>
                                <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
                                <span>{{post.updatedAt | date: 'dd/MM/yyyy'}}</span>
                                <span class="dot-divider"></span>
                                <fa-icon [icon]="['fas', 'archway']"></fa-icon>
                                <span>{{post.sight.label}}</span>
                            </div>
                        </mat-card-subtitle>
                        <mat-card-subtitle fxLayoutGap="5px">

                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img
                                *ngIf="post.previewImageUrl?.length"
                                [src]="post.previewImageUrl">
                        <div [innerHTML]="post.description"></div>
                    </mat-card-content>

                    <mat-card-actions fxLayoutAlign="space-between">
                        <div>
                            <button title="Wish to go there" mat-icon-button>
                                <fa-icon [icon]="['fas', 'plane-departure']" size="lg"></fa-icon>
                            </button>
                            <button title="Have visited this place" mat-icon-button>
                                <fa-icon [icon]="['fas', 'map-marked']" size="lg"></fa-icon>
                            </button>
                        </div>
                        <a mat-raised-button routerLink="/post/{{post.postId}}">
                            Read more
                        </a>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div> <!--card-deck-container -->
        <div fxLayout="row" fxLayoutAlign="center" *ngIf="posts?.length">
            <mat-paginator
                    [length]="page.totalElements"
                    [pageSize]="page.size"
                    [pageSizeOptions]="[5, 12, 24]"
                    (page)="loadPage($event)">
            </mat-paginator>
        </div>
        <div *ngIf="posts.length === 0">Posts not found</div>

</div>
