.container {
    border-top: 2px solid #49aa3c;
    background: linear-gradient(45deg, rgb(228, 240, 121), rgb(142, 226, 93));
}
.content {
    margin: 15px 30px;
    padding: 10px;
    background-color: seashell;
}
.container-navigation {
    padding-top: 15px;
    position: fixed;
    //top: 0;
    left: 0;
    right: 0;
}
.vertical-icon-panel {
    padding-top: 15px;
}
#map {
    z-index: 99;
    height: 400px;
}