/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
*, *:after, *:before {
    box-sizing: border-box;
}
a:hover, button:hover {
    transition: all 0.3s ease-out;
}
.global-container {
    /* width: 1100px; */
    margin: auto;
}
